# Entornos virtuales
venv/
.env

# Archivos compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de IDE
.vscode/
.idea/

# Archivos temporales
*.log
*.tmp

# Dependencias instaladas (solo mantenemos requirements.txt)
*.egg-info/

# Ignorar modelo entrenado 
sentiment_model/

# Vision data
app/vision/data/
app/vision/uploads/
app/vision/models/
